<md-dialog aria-label="OthersFabricOpDialog" style="width:70%;height:420px;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Others Fabric Operation</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
                    <md-icon md-svg-src="/Content/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="height:350px">

                <div class="form-group row">
                    <div class="col-md-3" ng-repeat="row in OFabOpList|filter:Model.Search as CurrRec">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" ng-model="row.FabOp" />                               
                            </div>
                            <label class="col-md-10">
                                {{row.label}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="float:right;margin-top:10px;margin-bottom:10px;">
                    <input type="button" class="button btn-info round mr-1 mb-1 btn-mid" ng-click="hide()" value="Ok" />
                </div>
            </div>
            </md-dialog-content>
</form>
</md-dialog>