<style>
    
    .myButton {
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,299a0b+100;Green+Flat+%231 */
        background: #299a0b; /* Old browsers */
        background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: arial;
        font-size: 18px;
        font-weight: bold;
        padding: 6px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;
    }

        .myButton:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
            background: #bfd255; /* Old browsers */
            background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
            background-color: #408c99;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

    .myButtonAccept {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,299a0b+100;Green+Flat+%231 */
        background: #299a0b; /* Old browsers */
        background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: arial;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;
    }

        .myButtonAccept:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,8fc400+100;Green+Flat+%236 */
            background: #8fc400; /* Old browsers */
            background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #8fc400 0%,#8fc400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
        }

        .myButtonAccept:active {
            position: relative;
            top: 1px;
        }

    .myButtonReject {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1a00+0,ff1a00+100;Red+Flat+%231 */
        background: #ff1a00; /* Old browsers */
        background: -moz-linear-gradient(top, #ff1a00 0%, #ff1a00 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff1a00 0%,#ff1a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: arial;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;
    }

        .myButtonReject:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
            background: #ff3019; /* Old browsers */
            background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
        }

        .myButtonReject:active {
            position: relative;
            top: 1px;
        }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90px; /* Height of the footer */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5cea6+0,c9c190+40,b7ad70+100;Brown+3D */
        background: #d5cea6; /* Old browsers */
        background: -moz-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#b7ad70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
    }

    #write {
        margin: 0 0 5px;
        padding: 5px;
        width: 671px;
        height: 200px;
        font: 1em/1.5 Verdana, Sans-Serif;
        background: #fff;
        border: 1px solid #f9f9f9;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    #keyboard {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #keyboard li {
            float: left;
            margin: 0 5px 5px 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #fff;
            border: 1px solid #f9f9f9;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

    .capslock, .tab, .left-shift {
        clear: left;
    }

    #keyboard .tab, #keyboard .delete {
        width: 70px;
    }

    #keyboard .capslock {
        width: 80px;
    }

    #keyboard .return {
        width: 77px;
    }

    #keyboard .left-shift {
        width: 95px;
    }

    #keyboard .right-shift {
        width: 109px;
    }

    .lastitem {
        margin-right: 0;
    }

    .uppercase {
        text-transform: uppercase;
    }

    #keyboard .space {
        clear: left;
        width: 681px;
    }

    .on {
        display: none;
    }

    #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
    }


    #keyboard1 {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #keyboard1 li {
            float: left;
            margin: 0 5px 5px 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #fff;
            border: 1px solid #f9f9f9;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

    .capslock, .tab, .left-shift {
        clear: left;
    }

    #keyboard1 .tab, #keyboard1 .delete {
        width: 70px;
    }

    #keyboard1 .capslock {
        width: 80px;
    }

    #keyboard1 .return {
        width: 77px;
    }

    #keyboard1 .left-shift {
        width: 95px;
    }

    #keyboard1 .right-shift {
        width: 109px;
    }

    .lastitem {
        margin-right: 0;
    }

    .uppercase {
        text-transform: uppercase;
    }

    #keyboard1 .space {
        clear: left;
        width: 681px;
    }

    .on {
        display: none;
    }

    #keyboard1 li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }

    /* Might want to wrap a span around your checkbox text */
    .checkboxtext {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
    }
</style>
<md-dialog aria-label="OthersFabricOpDialog" style="width:50%;height:400px;">
    <form ng-cloak>
        <!--<md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Others Fabric Operation</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
                    <md-icon md-svg-src="/Content/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>-->
        <script src="../../Scripts/Controller/EnterpriseDataConfiguration/BatchConfiguration/FinBatchConfigController.js"></script>
        <md-dialog-content>
            <div class="md-dialog-content" style="height:350px">

                <div id="divKeyboard" style="background-color:#eeeeee;margin:auto;">
                    <h3 style="text-align:center;font-weight;bold;font-size:16px;">Enter your remarks:</h3>
                    <textarea id="write" style="width:100%;height:60px; margin:auto;" maxlength="1024"></textarea>
                    <ul id="keyboard" style="width:90%;margin:10px auto;">
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">`</span><span class="on">~</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">1</span><span class="on">!</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">2</span><span class="on">@</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">3</span><span class="on">#</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">4</span><span class="on">$</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">5</span><span class="on">%</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">6</span><span class="on">^</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">7</span><span class="on">&amp;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">8</span><span class="on">*</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">9</span><span class="on">(</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">0</span><span class="on">)</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">-</span><span class="on">_</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">=</span><span class="on">+</span></li>
                        <li class="delete lastitem" ng-click="KeyBoardClick($event)">delete</li>
                        <li class="tab" ng-click="KeyBoardClick($event)">tab</li>
                        <li class="letter" ng-click="KeyBoardClick($event)" data="q">q</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">w</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">e</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">r</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">t</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">y</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">u</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">i</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">o</li>
                        <li class="letter">p</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">[</span><span class="on">{</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">]</span><span class="on">}</span></li>
                        <li class="symbol lastitem" ng-click="KeyBoardClick($event)"><span class="off">\</span><span class="on">|</span></li>
                        <li class="capslock" ng-click="KeyBoardClick($event)">caps lock</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">a</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">s</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">d</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">f</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">g</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">h</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">j</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">k</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">l</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">;</span><span class="on">:</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">'</span><span class="on">&quot;</span></li>
                        <li class="return lastitem" ng-click="KeyBoardClick($event)">Enter</li>
                        <li class="left-shift" ng-click="KeyBoardClick($event)">shift</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">z</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">x</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">c</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">v</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">b</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">n</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">m</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">,</span><span class="on">&lt;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">.</span><span class="on">&gt;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">/</span><span class="on">?</span></li>
                        <li class="right-shift lastitem" ng-click="KeyBoardClick($event)">shift</li>
                        <li class="space lastitem" ng-click="KeyBoardClick($event)">&nbsp;</li>
                    </ul>

                </div>

                <div id="kbKeyboard" style="display:none;">
                    <ul id="keyboard1" style="width:90%;margin:10px auto;">
                        <li class="symbol" ng-click="KeyBoardClick($event)" data="{{event.id}}"><span class="off">`</span><span class="on">~</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">1</span><span class="on">!</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">2</span><span class="on">@</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">3</span><span class="on">#</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">4</span><span class="on">$</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">5</span><span class="on">%</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">6</span><span class="on">^</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">7</span><span class="on">&amp;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">8</span><span class="on">*</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">9</span><span class="on">(</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">0</span><span class="on">)</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">-</span><span class="on">_</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">=</span><span class="on">+</span></li>
                        <li class="delete lastitem" ng-click="KeyBoardClick($event)">delete</li>
                        <li class="tab" ng-click="KeyBoardClick($event)">tab</li>
                        <li class="letter" ng-click="KeyBoardClick($event)" data="q">q</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">w</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">e</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">r</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">t</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">y</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">u</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">i</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">o</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">p</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">[</span><span class="on">{</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">]</span><span class="on">}</span></li>
                        <li class="symbol lastitem" ng-click="KeyBoardClick()"><span class="off">\</span><span class="on">|</span></li>
                        <li class="capslock" ng-click="KeyBoardClick($event)">caps lock</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">a</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">s</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">d</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">f</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">g</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">h</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">j</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">k</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">l</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">;</span><span class="on">:</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">'</span><span class="on">&quot;</span></li>
                        <li class="return lastitem" ng-click="KeyBoardClick($event)">Enter</li>
                        <li class="left-shift" ng-click="KeyBoardClick($event)">shift</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">z</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">x</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">c</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">v</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">b</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">n</li>
                        <li class="letter" ng-click="KeyBoardClick($event)">m</li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">,</span><span class="on">&lt;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">.</span><span class="on">&gt;</span></li>
                        <li class="symbol" ng-click="KeyBoardClick($event)"><span class="off">/</span><span class="on">?</span></li>
                        <li class="right-shift lastitem" ng-click="KeyBoardClick($event)">shift</li>
                        <li class="space lastitem" ng-click="KeyBoardClick($event)">&nbsp;</li>
                    </ul>
                </div>

            </div>
        </md-dialog-content>
    </form>
</md-dialog>