<div ng-controller="MachineNameConfigController">
    <div class="content-header sty-one">
        <h1>Machine Name Configuration</h1>
        <ol class="breadcrumb">
            <li><a href="#">Basic Data Configuration</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Machine Data Configuration</a></li>
            <li><i class="fa fa-angle-right"></i> Machine Name Configuration</li>
        </ol>
    </div>

    <div class="card card-body" style="min-height:500px;">
        <form id="form" name="form" ng-keypress="keyPressHandler($event)">
            <div class="form-group row">
                <div class="offset-md-1 col-md-11">
                    <div class="row">
                        <label class="control-label col-md-3">
                            Name Of Machine:
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-6">
                            <input type="text" ng-model="Model.MachineEng" placeholder="Name of the Machine" class="form-control input-height" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-1 col-md-11">
                    <div class="row">
                        <label class="control-label col-md-3">
                            Name Of Machine (Bengali):
                            <span class="required"> * </span>
                        </label>
                        <div class="col-md-6">
                            <input type="text" ng-model="Model.MachineBn" placeholder="Name of the Machine (Bengali)" class="form-control input-height" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-1 col-md-11">
                    <div class="row">
                        <label class="control-label col-md-3">
                            Is Active:
                            <span class="required">  </span>
                        </label>
                        <div class="col-md-1">
                            <md-checkbox ng-model="Model.IsActive" ng-checked="true" aria-label="Checkbox 1" class="input-height">
                            </md-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-9">
                    <div ng-include src="'../../App/Views/Shared/_LayoutActionButton.html'"></div>                
                    <input type="hidden" ng-model="Model.MId" />
                </div>
            </div>
        </form>

        <form class="form-inline" style="padding-bottom:2px">
            <div class="col-sm-6" style="padding-left:0px;">
                <input type="text" ng-model="search" class="form-control input-height" placeholder="Search">
            </div>
            <div class="col-sm-6">
                <span style="color:green; float:right;">Showing From: {{ $index+1+(currentPage-1)*viewby }} of {{totalItems}} </span>
            </div>

        </form>
        <div>
            <table class="table table-bordered bordered table-striped table-condensed table-text table-scroll table-hover">
                <thead class="bg">
                    <tr>
                        <th style="width:5%;">Sl</th>
                        <th ng-click="sort('MachineEng')">
                            Name Of Machine&nbsp;
                        </th>
                        <th ng-click="sort('MachineBn')">Name Of Machine (Bengali)&nbsp;</th>
                        <th ng-click="sort('IsActive')">IsActive &nbsp;</th>

                        <th style="width:15%;">Action&nbsp;</th>
                        <th ng-if="currlength.length>5" style=" width: 0.7%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataModel in (MachineInfo | filter : search |orderBy:sortKey:reverse).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">                        
                        <td style="display:none">{{dataModel.MId}}</td>
                        <td style="width:5%;"> {{$index+(currentPage-1)*viewby+1}}</td>
                        <td> {{dataModel.MachineEng}}</td>
                        <td> {{dataModel.MachineBn}}</td>
                        <td> {{dataModel.IsActive}}</td>

                        <td style="width:15%;">
                            <img name="edit" class="logo-image" ng-click="GetMachineInfoByID(dataModel)" src="../../Content/img/editicon.png" />
                            <img name="delete" style="margin-left: 7%;" ng-click="actionDialog('Delete',dataModel)" class="logo-image" src="../../Content/img/deleteicon.png" />                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage">
        </uib-pagination>

    </div>

</div>

