<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table {
            width: 100%;
            border-spacing: 15px;
        }

        table, th, td {
            padding: 8px;
            font-size: 17px;
        }

            table td b {
                padding-left: 15px;
            }

        .form-control {
            padding: 10px;
        }

        .data_tbl th, .data_tbl td {
            border: 1px solid #333;
            vertical-align: middle;
            text-align: center;
        }

        .btn_group {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 15px;
        }

            .btn_group button {
                width: 100px;
                font-size: 20px !important;
            }

        .custom-table-header {
            position: sticky;
            z-index: 1;
        }

        .scale {
            scale: 2;
            z-index: -1;
        }

        .custom-table {
            width: 60%
        }

        .custom-width1 {
            width: 32%;
        }

        .custom-width2 {
            width: 10%
        }
    </style>

</head>
<body ng-controller="ShadeApproval as Controller">
    <div class="content-header sty-one">
        <h1>Shade Approval</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-right"></i> Approval Management   </a></li>
            <li><i class="fa fa-angle-right"></i> Shade Approval</li>
        </ol>
    </div>
    <div class="card card-body">
        <form id="form" name="form" ng-keypress="keyPressHandler($event)">
            <div ng-include src="'../../../App/Views/Shared/_LayoutBulkNewRadioButton.html'"></div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td><b>Unit</b></td>
                            <td>
                                <input type="text" ng-model="Unit" typeahead-min-length="1" uib-typeahead="unit as unit.Name for unit in AllUnitData | filter : {Name : $viewValue} | limitTo:8"
                                       typeahead-on-select="GetDyeingUnit()" typeahead-editable="false" class="form-control clsHeight " placeholder="Unit" />
                            </td>
                            <td><b>Batch No</b></td>
                            <td>
                                <input type="text" ng-model="Batch" typeahead-min-length="1" uib-typeahead="item as item.BatchNo for item in allBatch | filter: {BatchNo:$viewValue}  | limitTo:8"
                                       typeahead-on-select="GetBodyPart()" typeahead-editable="false" class="form-control clsHeight " placeholder="Batch No" required />
                            </td>
                            <td><b>Body Part</b></td>
                            <td>
                                <!--<input type="text" ng-model="BodyPart" typeahead-min-length="1" uib-typeahead="unit as unit.BodyPart for unit in BodyPartlist | filter : {BodyPart : $viewValue} | limitTo:8"
                             typeahead-on-select="getDataByBatchId()" typeahead-editable="false" class="form-control clsHeight " placeholder="BodyPart" required/>-->
                                <select ng-model="BodyPart"
                                        ng-change="getDataByBatchId()"
                                        ng-options="unit as unit.BodyPart for unit in BodyPartlist"
                                        class="form-control input-height clsHeight"
                                        ng-required="true">
                                    <option value="" selected>Select</option>
                                </select>
                            </td>


                        </tr>
                        <tr>
                            <td><b>Buyer</b></td>
                            <td><input type="text" class="form-control" name="" value="{{BatchData.BuyerName}}" readonly /></td>
                            <td><b>Job</b></td>
                            <td><input type="text" class="form-control" name="" value="{{BatchData.JobInfo}}" readonly /></td>
                            <td><b>Style/Order</b></td>
                            <td><input type="text" class="form-control" name="" value="{{BatchData.StyleInfo}}" readonly /></td>
                        </tr>
                        <tr>
                            <td><b>Color</b></td>
                            <td><input type="text" class="form-control" name="" value="{{BatchData.Color}}" readonly /></td>
                            <td><b>Body Part Weight</b></td>
                            <td><input type="text" class="form-control" name="" value="{{BatchData.BatchWeight}}" readonly /></td>

                        </tr>
                    </thead>

                </table>
            </div>

            <div class="mt-5">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <td colspan="1" class="custom-width1"></td>
                            <th class="custom-width2">OK</th>
                            <th class="custom-width2">Not OK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> In-House Approval</td>
                            <td> <input type="checkbox" ng-click="CheckState('InHouseOk')" ng-model="InHouseOk" class="scale" /> </td>
                            <td> <input type="checkbox" ng-click="CheckState('InHouseNotOk')" ng-model="InHouseNotOk" class="scale" /> </td>
                            <td> <input type="text" class="form-control" placeholder="Reason" ng-show="InHouseNotOk" ng-required="InHouseNotOk" ng-model="IHAText" /></td>
                        </tr>
                        <tr>
                            <td>Garments Approval</td>
                            <td><input type="checkbox" ng-click="CheckState('GAOk')" ng-model="GAOk" class="scale" /></td>
                            <td> <input type="checkbox" ng-click="CheckState('GANotOk')" ng-model="GANotOk" class="scale" /> </td>
                            <td> <input type="text" class="form-control" placeholder="Reason" ng-show="GANotOk" ng-required="GANotOk" ng-model="GAText" /></td>
                        </tr>
                        <tr>
                            <td>Merchant Approval</td>
                            <td><input type="checkbox" ng-click="CheckState('MAOk')" ng-model="MAOk" class="scale" /></td>
                            <td> <input type="checkbox" ng-click="CheckState('MANotOk')" ng-model="MANotOk" class="scale" /> </td>
                            <td> <input type="text" class="form-control" placeholder="Reason" ng-show="MANotOk" ng-required="MANotOk" ng-model="MAText" /></td>
                        </tr>
                        <tr>
                            <td>Buyer Approval</td>
                            <td><input type="checkbox" ng-click="CheckState('BAOk')" ng-model="BAOk" class="scale" /></td>
                            <td><input type="checkbox" ng-click="CheckState('BANotOk')" ng-model="BANotOk" class="scale" /></td>
                            <td> <input type="text" class="form-control" placeholder="Reason" ng-show="BANotOk" ng-required="BANotOk" ng-model="BAText" /></td>
                        </tr>
                        <tr>
                            <td>Commercial Approval</td>
                            <td><input type="checkbox" ng-click="CheckState('CA')" ng-model="CA" class="scale" /></td>
                            <td></td>
                            <td> <input type="text" class="form-control" placeholder="Reason" ng-show="CA" ng-required="CA" ng-model="CAText" /></td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-5">
                <table>
                    <thead>
                        <tr>
                            <td><b>Employee Id</b></td>
                            <td>
                                <input type="text" class="form-control" name="" value="{{Emp.Id}}" readonly />
                            </td>
                            <td><b>Name</b></td>
                            <td>
                                <input type="text" class="form-control" name="" value="{{Emp.Name}}" readonly />
                            </td>
                            <td><b>Designation</b></td>
                            <td>
                                <input type="text" class="form-control" name="" value="{{Emp.Designation}}" readonly />
                            </td>
                            <td><b>Approve Time</b></td>
                            <td>
                                <div>
                                    <select ng-model="Batch.ApproveTime"
                                            ng-change="getDataByBatchId()"
                                            ng-options="a.id as a.name for a in ApproveTime"
                                            class="form-control input-height clsHeight"
                                            ng-required="true">
                                        <option value="" selected>Select</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-9">
                    <div ng-include src="'../../App/Views/Shared/_LayoutActionButton.html'"></div>
                    <input type="hidden" ng-model="Model.MId" />
                </div>
            </div>
        </form>
    </div>

</body>
</html>