<style>
    .md-datepicker-input {
        max-width: 500px;
        width: 250px;
    }

    .radio-label {
        vertical-align: top;
    }

    .radio-input {
        display: inline-block;
        vertical-align: top;
    }

    fieldset {
        text-align: center;
    }

    input[type=radio] {
        border: 1px;
        width: 6%;
        height: 1.4em;
    }
    .required {
        color: red !important;
    }
</style>

<body ng-controller="BasicBroadcastController as ctrl">
    <div class="content-header sty-one">
        <h1>Basic Broadcast</h1>
        <ol class="breadcrumb">
            <li><a href="#">Broadcast Management</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Basic Broadcast</a></li>
            <li><i class="fa fa-angle-right"></i> Machine Data Broadcast</li>
        </ol>
    </div>

    <div class="card card-body" style="min-height:500px;">
        <form id="form" name="form" class="form-horizontal" ng-init="rpt={}">
            <div class="form-body">

                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5">
                                Group Name:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="rpt.GroupName" ng-readonly="controlProp == 0" ng-init="rpt.GroupName='Masco Group'" name="GroupName" placeholder="Group Name" disabled class="form-control input-height" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="control-label col-md-5">
                                Report Name:
                            </label>
                            <div class="col-md-7">
                                <select ng-model="rpt.ReportingId"
                                        ng-options="x.ReportingId as x.ReportName for x in rptInfoList"
                                        class="form-control input-height"
                                        ng-change="GetParmInfo()"
                                        ng-required="true">
                                    <option value="" selected>Select Report Name</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">                   
                    <span id="genUI"></span>
                </div>

                <div class="form-actions col-md-10 offset-2">
                    <div ng-include src="'../../App/Views/Shared/_LayoutReportButton.html'"></div>
                </div>
            </div>
        </form>

    </div>
    
</body>
