<body ng-controller="MachineProductionPlanChangeController">
    <div class="content-header sty-one">
        <h1>Machine Production Plan Change</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-right"></i>Production Plan Configuration</a></li>
            <li><i class="fa fa-angle-right"></i> Machine Production Plan Change</li>
        </ol>
    </div>
    <div class="card card-body" style="min-height:500px;">
        <form id="form" name="form" ng-keypress="keyPressHandler($event)">
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="control-label col-md-5">
                            Plan No:
                            <span class="required" style="color:red"> * </span>
                        </label>
                        <div class="col-md-6">
                            <md-autocomplete name="PlanNo"
                                             md-selected-item="selectedPlanNo"
                                             md-no-cache="ctrl.noCache"
                                             md-search-text="searchPlanNo"
                                             md-selected-item-change="selectedPlanChange(item)"
                                             md-items="item in querySearch(searchPlanNo,'plan')"
                                             md-item-text="item.display"
                                             md-floating-label=" "
                                             md-min-length="0"
                                             md-input-minlength="0"
                                             md-input-maxlength="500"
                                              ng-required="true">
                                <md-item-template>
                                    <span md-highlight-text="searchPlanNo" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{searchPlanNo}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-6">
                    <div class="row">
                        <label class="control-label col-md-5">
                            Batch No:
                            <span class="required" style="color:red"> * </span>
                        </label>
                        <div class="col-md-6">
                            <md-autocomplete name="BatchNo"
                                             md-selected-item="selectedBatchNo"
                                             md-no-cache="ctrl.noCache"
                                             md-search-text="searchBatchNo"
                                             md-selected-item-change="selectedBatchChange(item)"
                                             md-items="item in querySearch(searchBatchNo,'batch')"
                                             md-item-text="item.display"
                                             md-floating-label=" "
                                             md-min-length="0"
                                             md-input-minlength="0"
                                             md-input-maxlength="500"
                                              ng-required="true">
                                <md-item-template>
                                    <span md-highlight-text="searchBatchNo" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{searchBatchNo}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>-->
                
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Buyer:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.BuyerName" class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Job:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.JobInfo" readonly  class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Style:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.StyleNo" readonly  class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Order:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.OrderNo" readonly  class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            From m/c:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.MachineNo" readonly class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Capacity:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.CapacityName" readonly class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            To m/c:
                        </label>
                        <div class="col-md-7">
                            <md-autocomplete required
                                             name="MachineNo"
                                             md-selected-item="selectedMachineNo"
                                             md-no-cache="ctrl.noCache"
                                             md-search-text="searchMachineNo"
                                             md-selected-item-change="selectedMachineNoChange(item)"
                                             md-items="item in querySearch(searchMachineNo,'ToMc')"
                                             md-item-text="item.display"
                                             md-floating-label=" "
                                             md-min-length="0"
                                             md-input-minlength="1"
                                             md-input-maxlength="18"
                                             ng-required="true">
                                <md-item-template>
                                    <span md-highlight-text="searchMachineNo" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{searchMachineNo}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Capacity:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.ToCapacityName" readonly class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Capacity Balance:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.BalanceQty" readonly class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            Plan Qty:
                            <span class="required" style="color:red"> * </span>
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.PlanQty" class="form-control input-height"  ng-change="cngPlanQty()"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            From m/c Date:
                        </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="model.PlanDate" readonly class="form-control input-height viewonly" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="control-label col-md-4">
                            To m/c Date:
                            <span class="required" style="color:red"> * </span>
                        </label>
                        <div class="col-md-7">
                            <md-datepicker ng-model="model.ToMcDate" md-placeholder="To Date" md-hide-icons="calendar" md-open-on-focus required></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-9">
                    <div ng-include src="'../../App/Views/Shared/_LayoutActionButton.html'"></div>
                    <input type="hidden" ng-model="model.MppchId" value="0" />
                    <input type="hidden" ng-model="model.MppmId"/>
                </div>
            </div>
        </form>
    </div>
</body>