<style>
    label {
        font-size: 12px !important;
    }

    input[type=text] {
        border: none;
        color: black;
        font-size: 14px !important;
    }

    .form-control {
        font-size: 12px !important;
        padding: 2px 2px;
    }

    .md-datepicker-input {
        width: 120px;
    }

    .input-height {
        height: initial !important;
    }

    input[type=checkbox] {
        transform: scale(1.5);
    }

    .machine_new table th,
    .machine_new table td {
        border: 1px solid #9f9f9f !important;
        padding: 5px 7px !important;
        font-size: 14px;
        text-align: center;
    }

    .control-label {
        /*text-align:left;*/
    }

    .select2-selection__choice {
        color: green !important;
        font-size: 12px;
    }

    .auto-complete-div-multi-wrapper auto-complete-div.default-style ul {
        background: whitesmoke;
        z-index: 1001;
    }

    .auto-complete-repeat {
        /* padding:2px !important;
        margin:2px !important;*/
        font-size: 12px !important;
    }

    .auto-complete-div-multi-wrapper {
        font-size: 15px;
    }

    .auto-complete-div-multi-wrapper {
        background-color: white !important;
    }

    .planAuto {
        border-style: solid;
        border-width: 1px;
        border-color: lightgrey;
        border-radius: 4px;
    }

    .plan {
        width: 230px;
        display: inline;
        font-size: 16px;
        font-weight: bold;
        color: green;
        /*float: right;*/
    }

    .btn-dropdown {
        width: 211px;
        border-color: none;
        font-size: 12px;
    }

    .dropdown-batch {
        border-width: 0.1px;
        border-style: solid;
        border-radius: 5px;
        border-color: gray;
        font-size: 12px;
    }
    /*.btn-sm {
        padding: 5px !important;
        width: 100px !important;
        font-size: 11px !important;
    }*/
    .btn:hover {
        color: inherit;
    }

    .left_tbl,
    .right_tbl {
        width: 600px;
    }

        .left_tbl table,
        .right_tbl table {
            width: 100%;
        }

    table td {
        border: 1px solid #333 !important;
        padding: 3px 10px !important;
        vertical-align: middle !important;
    }

    .left_tbl td:first-child, .right_tbl td:first-child {
        width: 200px;
    }

    .sign_box {
        width: 300px;
        border-top: 1px solid;
        margin-top: 40px;
    }

    .form-check-input {
        position: relative !important;
    }

    .finish_wrap {
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
    }

        .finish_wrap table {
            margin-bottom: 0px;
        }

            .finish_wrap table th,
            .finish_wrap table td {
                border: 1px solid #9f9f9f !important;
                padding: 5px 7px !important;
                font-size: 12px;
            }

            .finish_wrap table th {
                text-align: center;
            }

            .finish_wrap table td:nth-child(2) {
            }

    table:hover {
        /*background: #495057;*/
    }

    .machine_new table th img {
        width: 30px;
        margin: 5px;
    }

    .form-control {
        font-size: 12px !important;
    }

    .md-datepicker-input {
        width: 120px;
    }

    .input-height {
        height: initial !important;
    }

    input[type=checkbox] {
        transform: scale(1.5);
    }
    .readonly{
        background-color:white !important;
    }
</style>

<body ng-controller="BatchCardReprocessController  as ctrl">
    <div class="content-header sty-one">
        <h1>Batch Card Reprocess</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-right"></i> Batch Configuration</a></li>
            <li><i class="fa fa-angle-right"></i> Batch Card Reprocess</li>
        </ol>
    </div>
    <div class="card card-body" style="min-height:500px;">
        <!--<div class="d-flex py-5 gap-5" ng-init="Mode='B'">
            <input type="radio" class="form-check-input" ng-model="Mode" ng-value="'B'" name="optradio">Batch Card
            <input type="radio" class="form-check-input" ng-model="Mode" ng-value="'F'" name="optradio">Finishing Recipie
        </div>-->
        <div>
            <form id="form" name="form" ng-keypress="keyPressHandler($event)" ng-init="master={}">
                <div class="d-flex justify-content-between">
                    <div class="left_tbl">
                        <table class="table">
                            <tr>
                                <td>Job No:</td>
                                <td>
                                    {{batch.Job}}
                                    <!--<span style="width:100%;" ng-hide="item.editing" ng-click="editItem(item)">{{item.name}}</span>-->
                                    <!--<input type="text" class="form-control" name="name" ng-model="item.name" ng-blur="doneEditing(item)" auto-focus />-->
                                </td>
                            </tr>
                            <tr>
                                <td>Buyer:</td>
                                <td>{{batch.Buyer}}</td>
                            </tr>
                            <tr>
                                <td>Order/Style No:</td>
                                <td>{{batch.Style}}</td>
                            </tr>
                            <tr>
                                <td>Batch No:</td>                                
                                <td ng-model="batch.BatchNo">{{batch.BatchNo}} </td>
                            </tr>
                            <tr>
                                <td>Loading Date:</td>
                                <td  ng-model="batch.LoadingDate"></td>
                            </tr>
                            <tr>
                                <td>Loading Time:</td>
                                <td ng-model="batch.LoadingTime"></td>
                            </tr>
                            <tr>
                                <td>Unloading Time:</td>
                                <td ng-model="batch.UnloadingTime"></td>
                            </tr>
                        </table>
                        <b>Knitting Specification</b>
                        <table class="table">
                            <tr>
                                <td>Yarn Type:</td>
                                <td ng-model="batch.YarnType"></td>
                            </tr>
                            <tr>
                                <td>Yarn Source:</td>
                                <td>{{batch.YarnSource}}</td>
                            </tr>
                            <tr>
                                <td>Yarn Lot:</td>
                                <td>{{batch.YarnLot}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="right_tbl">
                        <table class="table">
                            <tr>
                                <td>Date</td>
                                <td>{{batch.BatchDate}}</td>
                            </tr>
                            <tr>
                                <td>M/C No:</td>
                                <!--<td>{{batch.McNo}}</td>-->
                                <td>
                                    <input type="text" ng-model="batch.McNo" typeahead-min-length="1" uib-typeahead="item as item.MachineNo for item in MachineList | filter: {MachineNo:$viewValue}  | limitTo:8"
                                           typeahead-editable="false" class="form-control input-height clsHeight" required />
                                </td>
                            </tr>
                            <tr>
                                <td>Shade Name:</td>
                                <td>{{batch.Color}}</td>
                            </tr>
                            <tr>
                                <td>Recipt No:</td>
                                <td>{{batch.LDNo}}</td>
                            </tr>
                            <tr>
                                <td>Enzyme:</td>
                                <td>{{batch.Enzyme}}</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Turning:</td>
                                <td ng-model="batch.Turing"></td>
                            </tr>
                        </table>
                        <div class="mt-5">
                            <table class="table">
                                <tr>
                                    <td>Fabric Quality</td>
                                    <td>{{batch.FabType}}</td>
                                </tr>
                                <tr>
                                    <td>Stitch Length</td>
                                    <td ng-model="batch.StitchLen"></td>
                                </tr>
                            </table>
                        </div>
                        <!--<span><input type="checkbox" ng-model="batch.IsPPSample" />&nbsp;&nbsp; <strong>PP Sample</strong></span>-->
                        <!--<span style="float:right !important;"><input type="checkbox" ng-model="batch.EditOnly" />&nbsp;&nbsp; <strong>Edit Only</strong></span>-->
                        <span style="float:right !important;" ng-show="ShowEdit"><input type="checkbox" ng-model="batch.EditOnly" disabled />&nbsp;&nbsp; <strong>Edit Only</strong></span>

                    </div>
                </div>
                <div>
                    <b>Process flow:</b>
                    <table class="table">
                        <tr>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Heatset" ng-checked="batch.Heatset==1?true:false" class="form-check-input mr-5" value="">Heatset
                                    </label>
                                </div>
                            </td>
                            <td rowspan="2" class="align-middle">
                                <div class="form-check-inline align-middle">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Dyeing" ng-checked="batch.Dyeing==1?true:false" class="form-check-input  mr-5" value="">Dyeing
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Squeezer" ng-checked="batch.Squeezer==1?true:false" class="form-check-input  mr-5" value="">Squeezer
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Dryer" ng-checked="batch.Dryer==1?true:false" class="form-check-input  mr-5" value="">Dryer
                                    </label>
                                </div>
                            </td>
                            <td rowspan="2" class="align-middle">
                                <div class="form-check-inline ">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Compactor" ng-checked="batch.Compactor==1?true:false" class="form-check-input  mr-5" value="">Compactor
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Singeing" ng-checked="batch.Singeing==1?true:false" class="form-check-input  mr-5" value="">Singeing
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Slitting" ng-checked="batch.Slitting==1?true:false" class="form-check-input  mr-5" value="">Slitting
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.Stenter" ng-checked="batch.Stenter==1?true:false" class="form-check-input  mr-5" value="">Stenter
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <b>Batch Specification:</b>
                <div>
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <td>Body Part</td>
                                <td>Plan(In Kg)</td>
                                <td>Actual (In Kg)</td>
                                <td>M/C Dia X Gauge</td>
                                <td>Rolls</td>
                                <td>Identification</td>
                                <td>F/Dia</td>
                                <td>G/Dia</td>
                                <td>F/GSM</td>
                                <td>G/GSM</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in batchSpec">
                                <td contentEditable ng-model="obj.BodyPart" ng-if="$index>2?true:false"></td>
                                <td ng-if="$index<=2?true:false">
                                    <input type="text" readonly ng-model="obj.BodyPart" style="background: transparent;" class="form-control input-height clsHeight" />
                                </td>
                                <!--<td ng-show="$index==0||$index==3||$index==4">{{obj.BodyPart}}</td>-->
                                <td>
                                    <input type="text" ng-model="obj.PlanQty" class="form-control input-height clsHeight readonly" readonly />
                                </td>
                                <td>
                                    <input type="text" ng-model="obj.ActualQty" class="form-control input-height clsHeight readonly" readonly />
                                </td>
                                <td contentEditable ng-model="obj.McDia"></td>
                                <td contentEditable ng-model="obj.Rolls"></td>
                                <td contentEditable ng-model="obj.Identification"></td>

                                <td contentEditable ng-model="obj.FDia" ng-if="obj.PlanQty==null?true:false"></td>
                                <td ng-if="obj.PlanQty>0">
                                    <input type="text" ng-model="obj.FDia" class="form-control input-height clsHeight" required />
                                </td>

                                <td contentEditable ng-model="obj.GDia"></td>

                                <td contentEditable ng-model="obj.FGSM" ng-if="obj.PlanQty==null?true:false"></td>
                                <td ng-if="obj.PlanQty>0">
                                    <input type="text" ng-model="obj.FGSM" class="form-control input-height clsHeight" required />
                                </td>

                                <td contentEditable ng-model="obj.GGSM"></td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{batch.Total}}</td>
                                <td>{{batch.ActualTotal}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tr>
                            <td class="p-4">Process</td>
                            <td class="p-4 text-center" colspan="5">{{batch.Process}}</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="align-middle">Shade</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.ShadeOk" ng-change="shadeChange(1)" ng-checked="batch.Shade=='Ok'?true:false" class="form-check-input mr-5">Ok
                                    </label>
                                </div>
                            </td>
                            <td rowspan="2" class="align-middle text-center">Quality</td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.QualityOk" ng-checked="batch.Quality=='Ok'?true:false" ng-change="qualityChange(1)" class="form-check-input mr-5">Ok
                                    </label>
                                </div>
                            </td>
                            <td rowspan="2" colspan="2"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.ShadeNOk" ng-checked="batch.Shade=='Not Ok'?true:false" ng-change="shadeChange(0)" class="form-check-input mr-5"> Not Ok
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="batch.QualityNOk" ng-checked="batch.Quality=='Not Ok'?true:false" ng-change="qualityChange(0)" class="form-check-input mr-5"> Not Ok
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-5" colspan="1">Note Dyeing:</td>
                            <td colspan="5"  ng-model="batch.NoteDyeing"></td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="5">Note Finishing:</td>
                            <td colspan="3" rowspan="5"  ng-model="batch.NoteFinishing"></td>
                            <td>Nozzle</td>
                            <td>Trolley no</td>
                        </tr>
                        <tr ng-repeat="obj in nozzleTrolley">
                            <td contentEditable ng-model="obj.Nozzle"></td>
                            <td contentEditable ng-model="obj.Trolley" uib-typeahead="item as item.name for item in TrollyInfo | filter: {name:$viewValue} | limitTo:8"></td>
                        </tr>
                    </table>
                    <!--<div class="d-flex  justify-content-between">
                        <div class="sign_box  text-center">
                            <p>Planned By</p>
                        </div>
                        <div class="sign_box  text-center">
                            <p>Batch Prepared By</p>
                        </div>
                        <div class="sign_box text-center">
                            <p>Batch In-Charge</p>
                        </div>
                    </div>-->


                </div>
                <div class="col-md-12 row" style="padding-top:10px;padding-bottom:10px;">
                    <div class="offset-md-2 col-md-9">
                        <div ng-include src="'../../../App/Views/Shared/_LayoutActionButton.html'"></div>

                    </div>
                </div>
            </form>
        </div>
        <div ng-show="Mode=='F'">

            <div class="form-group row">
                <div class="col-md-5">
                    <label class="control-label col-md-4" style="margin-left:5%;">
                        Finishing Recipe:
                        <span class="required" style="color:red"> * </span>
                    </label>
                    <div style="width: 98%; margin-left: 20%;">
                        <div class="machine_new">
                            <table id="tblFinishingRecipe" style="border:none;">
                                <tr ng-repeat="Recipe in RecipeList">
                                    <th style="width:90px;">
                                        <img ng-click="actionDialog1('AddNewRow',$index)" src="../../../Content/img/add.png" />
                                        <img ng-click="actionDialog1('DeleteRow',$index)" src="../../../Content/img/delete.png" />
                                    </th>
                                    <th style="width:50%;">  <textarea type="text" ng-model="Recipe.RecipeDrescription" placeholder="Drescription" class="form-control input-height" /></th>
                                    <th style="width:2%;"></th>
                                    <th style="width:23%;"> <input type="text" ng-model="Recipe.Unit" placeholder="Unit" class="form-control input-height" /></th>


                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left: 8%;">
                <div class="md-dialog-content">
                    <div class="finish_wrap">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th><h3><b>Tube Finish</b></h3></th>

                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>De Watering</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td>M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtSpeed" /></td>
                                        <td>P.Pressure:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtPressure" /></td>

                                    </tr>
                                    <tr>
                                        <td>Stretching %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtStreching" /></td>
                                        <td style="width:100px;">Before Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtBeforeWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtOverFeed" /></td>
                                        <td>After Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:100px;">Frame width %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeWtFrameWidth" /></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>Dryer</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td>M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDrySpeed" /></td>
                                        <td>After Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryOverFeed" /></td>
                                        <td>After GSM:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryAfterGSM" /></td>
                                    </tr>
                                    <tr>
                                        <td>Tempreature:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryTempreature" /></td>
                                        <td><input class="form-control" text="text" name="name" readonly value="" ng-model="machineFins.TubeDryTempreature2" /></td>
                                        <td><input class="form-control" text="text" name="name" readonly value="" ng-model="machineFins.TubeDryTempreature3" /></td>
                                    </tr>
                                    <tr>
                                        <td>Shrinkage %:</td>
                                        <td style="width:150px;">
                                            <div style="display:flex">
                                                <div style="flex:3;margin-right:3px">

                                                    <input style="" class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryShrinkageL" />
                                                </div>
                                                <div style="flex:1">
                                                    <input style="" class="form-control" text="text" placeholder="L" readonly name="name" value="" />
                                                </div>
                                            </div>

                                        </td>


                                        <td style="width:170px;">
                                            <div style="display:flex">
                                                <div style="flex:3;margin-right:3px">

                                                    <input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeDryShrinkageW" />
                                                </div>
                                                <div style="flex:1">
                                                    <input style="" class="form-control" text="text" placeholder="W" readonly name="name" value="" />
                                                </div>
                                            </div>

                                        </td>

                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>Compactor</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td style="width:90px;">M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompSpeed" /></td>
                                        <td>Temperature:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompTemperature" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed  %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompOverfeed" /></td>
                                        <td>Set Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompSetWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Lower Shoe:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompLowerShoe" /></td>
                                        <td>After Width</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Upper Shoe:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompUpperShoe" /></td>
                                        <td>After GSM</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.TubeCompAfterGSM" /></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th><h3><b>Open Finish</b></h3></th>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>De Watering & Shitting</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td>M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenWtSpeed" /></td>
                                        <td>P.Pressure:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenWtPressure" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenWtOverfeed" /></td>
                                        <td>After Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenWtAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>Stenter</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td>M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenSpeed" /></td>
                                        <td>Set Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenSetWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenOverfeed" /></td>
                                        <td>After Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Tempreature:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenTempreature" /></td>
                                        <td><input class="form-control" text="text" name="name" readonly value="" ng-model="machineFins.OpenStenTempreature2" /></td>
                                        <td><input class="form-control" text="text" name="name" readonly value="" ng-model="machineFins.OpenStenTempreature3" /></td>
                                    </tr>
                                    <tr>
                                        <td>Shrinkage %:</td>
                                        <td style="width:150px;">
                                            <div style="display:flex">
                                                <div style="flex:3;margin-right:3px">

                                                    <input style="" class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenShrinkageL" />
                                                </div>
                                                <div style="flex:1">
                                                    <input style="" class="form-control" text="text" placeholder="L" readonly name="name" value="" />
                                                </div>
                                            </div>

                                        </td>


                                        <td style="width:170px;">
                                            <div style="display:flex">
                                                <div style="flex:3;margin-right:3px">

                                                    <input style="" class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenShrinkageW" />
                                                </div>
                                                <div style="flex:1">
                                                    <input style="" class="form-control" text="text" placeholder="W" readonly name="name" value="" />
                                                </div>
                                            </div>

                                        </td>

                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>After GSM:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenStenAfterGSM" /></td>
                                        <td><input class="form-control" text="text" name="name" value="" readonly ng-model="machineFins.OpenStenAfterGSM2" /></td>
                                        <td><input class="form-control" text="text" name="name" value="" readonly ng-model="machineFins.OpenStenAfterGSM3" /></td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4><b>Compactor</b></h4></th>
                                    </tr>
                                    <tr>
                                        <td>M/C Speed:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompSpeed" /></td>
                                        <td style="width:100px;">Before Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompBeforeWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Over feed %:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompOverfeed" /></td>
                                        <td>After Width:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompAfterWidth" /></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature:</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompTemperature" /></td>
                                        <td>After GSM</td>
                                        <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.OpenCompAfterGSM" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                        <td><input class="form-control" text="text" readonly name="name" value="" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="finish_wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <th><h3><b>Result of Finishing</b></h3></th>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table">
                                            <tr>
                                                <td>Final Width:</td>
                                                <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultFinalWidth" /></td>
                                            </tr>
                                            <tr>
                                                <td>Final GSM:</td>
                                                <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultFinalGSM" /></td>
                                            </tr>
                                            <tr>
                                                <td>Grey Weight:</td>
                                                <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultGreyWeight" /></td>
                                            </tr>
                                            <tr>
                                                <td>Finished Weight:</td>
                                                <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultFinishedWeight" /></td>
                                            </tr>
                                            <tr>
                                                <td>No of Rolls:</td>
                                                <td><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultNoofRolls" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table">
                                            <tr>
                                                <td>Shrinkage %:</td>
                                                <td style="width:150px;">
                                                    <div style="display:flex">
                                                        <div style="flex:3;margin-right:3px">

                                                            <input style="" class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultShrinkageL" />
                                                        </div>
                                                        <div style="flex:1">
                                                            <input style="" class="form-control" text="text" placeholder="L" readonly name="name" value="" />
                                                        </div>
                                                    </div>

                                                </td>


                                                <td style="width:170px;">
                                                    <div style="display:flex">
                                                        <div style="flex:3;margin-right:3px">

                                                            <input style="" class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultShrinkageW" />
                                                        </div>
                                                        <div style="flex:1">
                                                            <input style="" class="form-control" text="text" placeholder="W" readonly name="name" value="" />
                                                        </div>
                                                    </div>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Spirality:</td>
                                                <td colspan="2"><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultSpirality" /></td>
                                            </tr>
                                            <tr>
                                                <td>Process Loss (Kg):</td>
                                                <td colspan="2"><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultProcessLossKg" /></td>
                                            </tr>
                                            <tr>
                                                <td>Princess Loss (%):</td>
                                                <td colspan="2"><input class="form-control" text="text" name="name" value="" ng-model="machineFins.ResultProcessLossPercent" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><input class="form-control" text="text" readonly name="name" value="" /></td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>

        <!--</form>-->
    </div>
</body>
